<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/style.css' %}">
</head>
<body>
<ul class="nav">
  <li class="maNav"><a href="default.asp">Home</a></li>
  <li class="maNav"><a href="news.asp">The Events</a></li>
  <li class="maNav"><a href="contact.asp">Contact</a></li>
  <li class="maNav"><a href="about.asp">About</a></li>
</ul>

{% block content %}

    {%if event_list%}
        <ul>
            {% for event in event_list %}
                <li>
                    <a href="{% url 'reservation:the_event' event.id %}">{{event.event_name}}</a>

                </li>
            {%endfor%}
        </ul>
    {%else%}
        <p>Pas d'évenement à venir !</p>
    {%endif%}

{% endblock %}

</body>
</html>
