
<!DOCTYPE html>
{% extends "reservation/index.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="{%static 'reservation/monForm.css' %}">
</head>
<body>
{% block content %}
<div class="monForm">
<form id="register" action="{% url 'reservation:registered' %}" method="post">
    {% csrf_token %}

            <div class="monInput">
                <label for="user_name">Nom</label>
                <input id="user_name" name="user_name">
            </div>

            <div class="monInput">
                <label for="user_firstname">Prénom</label>
                <input id="user_firstname" name="user_firstname">
            </div>

            <div class="monInput">
                <label for="user_email">Email</label>
                <input id="user_email" name="user_email">
            </div>

            <div class="monInput">
                <label for="user_pwd">Mot de passe</label>
                <input type="password" id="user_pwd" name="user_pwd">
            </div>

            <div class="monInput">
                <input type="submit" value="Enregistrer">
            </div>

</form>
</div>
{% endblock %}
</body>
</html>