{% extends "reservation/index.html" %}
{% load static %}
    {% block css_maybe %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'reservation/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'reservation/monForm.css' %}">
    {% endblock %}
{% block content %}
<div class="signIn">
<form id="register" action="{% url 'reservation:registered' %}" method="post">

        <h2>Inscription</h2>
    {% csrf_token %}

            <div class="monInput">
                <label for="user_name">Nom</label>
                <input id="user_name" name="user_name">
                <label for="user_firstname">Prénom</label>
                <input id="user_firstname" name="user_firstname">
                <label for="user_email">Email</label>
                <input id="user_email" name="user_email">
                <label for="user_pwd">Mot de passe</label>
                <input type="password" id="user_pwd" name="user_pwd">
            </div>
                <a href="#">
                Enregistrer
                </a>


</form>
</div>
{% endblock %}