<!DOCTYPE html>
{% extends "reservation/index.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheEvent</title>
</head>
<body>

{% block content%}

<h1>L'évenement: {{event.event_name}}</h1>

<ul class="event">

    <li id="event">Date de début: {{event.event_start_date}}</li>
    {% for perform in event.perform.all %}
        <li id="events">Performé par: {{perform}}</li>
    {% endfor %}
    <li id="nbrseats">Places restantes : {{showroom.showroom_places}}</li>

</ul>
<form id="event_button" action="{% url 'reservation:purchase' event.id %}">
<input type="submit" value="Réserver">
</form>

{%endblock%}

</body>
</html>
